<div class="book__header">
  {% if page.collection == 'books' and page.cover %}
    <img src="{{ page.cover }}" alt="{{ page.title }}" class="book__cover" />
  {% endif %}

  <h1 class="book__title">
    {% if page.collection != 'books' %}<a href="{{ book.url }}">{% endif %}
      {{ book.title }}
    {% if page.collection != 'books' %}</a>{% endif %}
  </h1>

  {% if book.author %}
    <h2 class="book__credit">{{ book.author }}</h2>
  {% endif %}

  {% if book.amazon %}
    <a class="book__buy ss-navigateright right" target="_blank" rel="nofollow" href="http://www.amazon.com/gp/search?ie=UTF8&index=books&keywords={{ book.title | uri_escape }}&tag=sawyerh-20">Buy on Amazon</a>
  {% endif %}
</div>