<article class="highlight{% if highlight.is_featured %} highlight--featured{% endif %}">
  <blockquote class="highlight__content">
    {{ highlight.content }}
  </blockquote>

  <div class="highlight__footer">
    <a href="{{ highlight.url }}" class="ss-icon highlight__link">link</a>
    {% if highlight.location %}{{ highlight.location }}{% endif %}
  </div>

  {% if highlight.comments %}
    <div class="comments">
      {% for comment in highlight.comments %}
        <div class="comment">
          {{ comment.body }}
          {% if comment.author %}
            <cite class="comment__author">&mdash; {{ comment.author }}</cite>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</article>