@font-face {
  font-family: "Duo";
  font-weight: normal;
  src: url("/assets/fonts/iAWriterDuospace-Regular.woff2");
}

@font-face {
  font-family: "Duo";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/iAWriterDuospace-RegularItalic.woff2");
}

@font-face {
  font-family: "Duo";
  font-weight: bold;
  src: url("/assets/fonts/iAWriterDuospace-Bold.woff2");
}

@font-face {
  font-family: "Duo";
  font-style: italic;
  font-weight: bold;
  src: url("/assets/fonts/iAWriterDuospace-BoldItalic.woff2");
}
