---
---
@import 'toolbox';
@import 'flickity';

$text_default: #fff;
$text_faded: #919BA0;

$bg_default: #111;
$bg_light: #FBFAF9;

$border_color: rgba(#fff, 0.2);

$h_nav: 60px;
$gutter: 30px;

$colors: "#ff8a80", "#ff80ab", "#ea80fc", "#b388ff", "#8c9eff", "#82b1ff", "#80d8ff", "#84ffff", "#a7ffeb", "#b9f6ca", "#ccff90", "#f4ff81", "#ffff8d", "#ffe57f", "#ffd180", "#ff9e80";

$font_body: "freight-text-pro"; //"freight-sans-pro";
$font_headline: "acumin-pro-extra-condensed"; //"freight-display-pro";

* {
  @include box-sizing(border-box)
}

body{
  -webkit-font-smoothing: antialiased;
  background: $bg_default;
  color: $text_default;
  font-family: $font_body;
  font-size: 18px;
  margin: 0;
}

a{
  color: $text_default;
}

p{
  margin: 0 0 1.5em;

  &:last-child{
    margin-bottom: 0;
  }
}

.nav{
  border-top: 1px solid $border_color;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $h_nav;
}

.nav__buttons{
  float: right;
}

.nav__button{
  width: $h_nav;
  height: $h_nav;
  background: #fff;
  color: $bg_default;
  border: 0 none;
  border-left: 1px solid $bg_default;
  font-size: 32px;
  cursor: pointer;
  float: left;
  transition: background-color 500ms ease, color 500ms ease;
  outline: none;

  &.is-inactive{
    pointer-events: none;
    background: $bg_default;
    color: $text_faded;
  }

  &:hover{
    opacity: 0.6;
  }

  &:active{
    opacity: 0.3;
  }
}

.container{
  position: fixed !important;
  bottom: $h_nav;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
}

.book{
  max-width: 450px;
  width: 100%;
  padding: $gutter;
  overflow: auto;
  top: 0;
  bottom: 0;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    width: 2px;
    border-radius: 30px;
    box-shadow: 0 0 1px rgba(#fff, 0.2) inset;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 30px;
    background-color: rgba(#fff, 0.1);
    width: 10px;
  }
}

@each $color in $colors{
  $selector: unquote(".book:nth-child(#{length($colors)}n + #{index($colors, $color)})");

  #{$selector}{
    .highlight__content{
      background-color: unquote($color);
    }
  }
}

.book__title{
  font-family: $font_headline;
  font-weight: 400;
  font-size: 44px;
  margin: 0;
  line-height: 1;
}

.book__credit{
  font-family: $font_headline;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  color: $text_faded;
}

.highlight{
  line-height: 1.3;
  margin-bottom: 15px;

  &:first-of-type{
    margin-top: $gutter;
  }
}

.highlight__content{
  padding: 15px 20px;
  margin: 0;
  border-radius: 2px;
  color: #000;
}

.highlight__footer{
  font-size: 16px;
  font-family: $font_headline;
  letter-spacing: 1px;
  color: $text_faded;
  margin-top: 5px;

  a{
    color: $text_faded;

    &:hover{
      color: $text_default;
    }
  }
}

.comments{
  font-size: 14px;
}

.comment{
  border-bottom: 1px solid $bg_default;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child{
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}