---
---

$text_default: #2B2B25;
$text_light: #666457;

$bg_tan: #EBE9E4;
$bg_tan_light: #FBFAF9;

@import 'toolbox';

* {
  @include box-sizing(border-box)
}

body{
  -webkit-font-smoothing: antialiased;
  background: $bg_tan;
  color: $text_default;
  font-family: "ff-tisa-sans-web-pro";
  font-size: 20px;
}

p{
  margin: 0 0 1.5em;

  &:last-child{
    margin-bottom: 0;
  }
}

.highlights{
  max-width: 700px;
  margin: auto;
}

.highlight__inner{
  background: #fff;
  margin: 15px;
  border-radius: 2px;
  border-bottom: 2px solid darken($bg_tan, 5%);
}

.highlight__content{
  padding: 25px 25px 0;
  margin: 0;
  line-height: 1.5;
}

.highlight__footer{
  font-size: 14px;
  margin-top: 15px;
  padding: 0 25px 25px;
  color: $text_light;

  a{
    color: $text_light;
  }
}

.highlight__book{
  font-style: normal;
}

.comments{
  background: $bg_tan_light;
  border-top: 1px solid $bg_tan;
  font-size: 14px;
  padding: 25px;
}

.comment{
  border-bottom: 1px solid $bg_tan;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child{
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}