---
---

$text_default: #2B2B25;
$text_light: #666457;

$bg_default: #FCD4D4;
$bg_light: #FBFAF9;

$gutter: 30px;

@import 'toolbox';

* {
  @include box-sizing(border-box)
}

body{
  background: $bg_default;
  color: $text_default;
  font-family: "freight-sans-pro";
  font-size: 20px;
  margin: 0;
}

a{
  color: $text_default;
}

p{
  margin: 0 0 1.5em;

  &:last-child{
    margin-bottom: 0;
  }
}

.container{
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.book{
  max-width: 450px;
  padding: $gutter;
  border-right: 1px solid rgba(#000, 0.2);
  bottom: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(#000, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#000, 0.1);
    outline: none;
    border-radius: 30px;
  }
}

.book__title{
  -webkit-font-smoothing: antialiased;
  font-family: "freight-display-pro";
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 $gutter;
  line-height: 1.2;

  strong{
    font-size: 36px;
  }
}

.book__credit{
  display: block;
  margin-top: 5px;
}

.highlight{
  line-height: 1.5;
  margin-bottom: 2em;
}

.highlight__content{
  padding: 0;
  margin: 0;
}

.highlight__footer{
  font-size: 14px;
}

.comments{
  font-size: 14px;
}

.comment{
  border-bottom: 1px solid $bg_default;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child{
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}