---
layout: default
---
{% assign all_highlights = site.highlights %}

<section class="container">
  {% for book in site.books %}
    {% assign highlights = all_highlights | where:"book_uuid", book.uuid %}

    <div class="book">
      <h1 class="book__title">
        <strong>{{ book.title }}</strong>
        {% if book.author %}
          <span class="book__credit">{{ book.author }}</span>
        {% endif %}
      </h1>
      {% for highlight in highlights %}
        <article class="highlight{% if highlight.is_featured %} highlight--featured{% endif %}">
          <blockquote class="highlight__content">
            {{ highlight.content }}
          </blockquote>

          {% comment %}<div class="highlight__footer">
            <a href="{{ highlight.url }}">Share</a>
          </div>{% endcomment %}

          {% if highlight.comments %}
            <div class="comments">
              {% for comment in highlight.comments %}
                <div class="comment">
                  {{ comment.body }}
                  {% if comment.author %}
                    <cite class="comment__author">&mdash; {{ comment.author }}</cite>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  {% endfor %}
</section>