---
layout: default
---

<nav class="nav">
  <div class="nav__sticky">
    <button class="filter ss-plus books__nav__toggle">Books and articles</button>
    <a class="nav__about-link" target="_blank" href="https://medium.com/@sawyerh/how-i-m-exporting-my-highlights-from-the-grasps-of-ibooks-and-kindle-ce6a6031b298">About this project</a>

    <div class="nav__buttons">
      <button class="ss-icon nav__button nav--prev is-inactive">navigateleft</button>
      <button class="ss-icon nav__button nav--next">navigateright</button>
      <button class="ss-icon nav__button nav--collapse">close</button>
    </div>
  </div>

  <ol class="books__nav">
    {% assign az_books = site.books | sort: 'title' %}
    {% for book in az_books %}
      <li class="books__nav__item">
        <a class="books__nav__link" href="#{{ book.path }}">{{ book.title }}</a>
      </li>
    {% endfor %}
  </ol>
</nav>

<section class="container">
  {% assign chrono_books = site.books | sort: 'date' %}
  {% for book in chrono_books reversed %}
    {% include book_highlights.html %}
  {% endfor %}
</section>

<script src="/assets/js/dist/main.js"></script>