---
layout: default
---
{% assign books = site.books %}

<section class="highlights">
  {% for highlight in site.highlights %}
    {% assign book = books | where:"uuid", highlight.book_uuid %}

    <article class="highlight{% if highlight.is_featured %} highlight--featured{% endif %}">
      <div class="highlight__inner">
        <blockquote class="highlight__content">
          {{ highlight.content }}
        </blockquote>

        <div class="highlight__footer">
          <cite class="highlight__book">
            {{ book.first.title }}
            {% if book.first.author %}
              &middot;
              {{ book.first.author }}
            {% endif %}
          </cite>
          &middot; <a href="{{ highlight.url }}">Share</a>
        </div>

        {% if highlight.comments %}
          <div class="comments">
            {% for comment in highlight.comments %}
              <div class="comment">
                {{ comment.body }}
                {% if comment.author %}
                  <cite class="comment__author">&mdash; {{ comment.author }}</cite>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </article>

  {% endfor %}
</section>